.body

  .lockscreen__examples-body
    display flex
    flex-direction row
    flex-wrap wrap
    margin 0 auto;
    max-width 650px

    .lockscreen
      max-height auto
      margin 1rem 0.5rem

  &__example
    max-width $column-width
    margin 0 auto
    display flex
    flex-direction row-reverse
    align-items: center;
  &__img-animation
    max-width 266px
  &__img-bodies
    max-width 600px
    margin 0 auto

  &__img-parts
    max-width 323px
    margin 0 auto

  &__load
    padding 15px 20px
    border 1px solid $gray
    background-color: white
    margin 2rem auto
    display block
    font-family: $national
    text-transform: uppercase;
    color $gray

  &__multiples
    max-width $column-width
    padding 0 1rem

  .container__bodyBar
    max-width $column-width
    //margin 0 auto
    padding 0 1rem

    .right
      display flex
      flex-direction column
      .bar__group
        display flex
        flex-direction row
        height 24px
        margin-bottom 0.25rem
        .bar__label
          background-color $gray-extraDark
          &-text
            color white
            font-family $national
            text-transform lowercase;
            margin 0
            font-size 14px
            padding 0 0.5rem
        &:first-of-type
          .bar__label
            border-radius 12px 0 0 0
        &:last-of-type
          .bar__label
            border-radius 0 0 0 12px
        .bar__bar
          background-color $primary
          border-radius 0 12px 12px 0
          &-text
            color white
            font-family $national
            text-transform lowercase;
            margin 0
            font-size 14px
            padding 0 0.5rem
            text-align right
            font-weight bold

    .bar
      fill $primary

    .label-text
      font-family $national
      set-type-size('medium')

    .label-text-bg
      font-family $national
      set-type-size('medium')
      stroke white
      stroke-width 2px
  .container__figure
    position relative
  .container__bodyGrid
    max-width: $column-width
    position relative
    padding 0 0.5rem
    .container__grid
      display flex
      flex-wrap wrap
      &.is-truncated
        max-height 26rem
        overflow hidden
      .grid__blocks
        width 30px
        height 30px
        background-color $gray-light
        margin 2px
        border-radius 5px
        display none
        transition 200ms ease-in-out
        svg
          transform scale(0.9)
          stroke-width 1px
          stroke $gray-darkest
          z-index 10
        &.is-visible
          display flex
          align-items: center
          justify-content: center
        &.is-highlighted
          background-color $primary
          transition 200ms ease-in-out

    .filters
      display flex
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-start;
      margin-top 1rem
      .chart__subtitle
        margin-right 0.5rem
        margin-left 0
      select
        margin 0 0 20px 18px
        pointer-events all
        min-width 100px
        height 1.5rem
        cursor pointer
        text-transform lowercase
        font-size 14px

    .buttons
      display flex
      flex-direction row
      flex-wrap wrap
      font-family $national
      align-items: baseline;
      justify-content: flex-start;
      .chart__subtitle
        margin-right 0.5rem
        margin-left 0
      .ui__button
        padding 0 5px
        background-color rgb(248, 248, 248)
        border 1px solid rgb(166, 166, 166)
        font-size 14px
        height 1.75rem
        margin 0 0.25rem
        color $gray-darkest
        border-radius: 5px
        &.is-active
          background-color $primary

.ui-warning
  font-family $national
  position absolute
  top 60%
  left 50%
  max-width 25rem
  background-color white
  border 1px solid $gray
  padding 0.25rem 1rem
  margin 0 auto
  transform translate(-50%, 0)
  box-shadow 0 0 3px rgba(40,40,40,.25)
  z-index 200
  opacity 0
  transition 300ms
  pointer-events: none
  &-text
    set-type-size('small', true)
    color $dark-denim
    text-align center

  &.is-active
    opacity 1
    transition 300ms

.show-more
  position absolute
  width 100%
  height 5rem
  background linear-gradient(rgba($bg, 0), $bg)
  bottom 0
  visibility hidden
  pointer-events none
  z-index 200
  &.is-visible
  	visibility visible
.toggle-table
    text-align center
    margin-top 1rem
    .btn
      background-color transparent
      color $gray-dark
      border 1px solid $gray-dark
      padding 0.25em 0.5em
      width 9rem
      text-transform uppercase
      font-weight 600
      transition background-color 250ms
      pointer-events all
      &:hover
      	background-color rgba($primary, 0.2)
      &.is-disabled
        background-color transparent
        color $gray-light
        border 1px solid $gray
        pointer-events none
