.body

  &__example
    max-width $column-width
    margin 0 auto
    display flex
    flex-direction row-reverse
    align-items: center;
  &__img-animation
    max-width 266px
  &__img-bodies
    max-width 600px
    margin 0 auto

  &__img-parts
    max-width 323px
    margin 0 auto

  &__load
    padding 15px 20px
    border 1px solid $off-black
    background-color: white
    margin 2rem auto
    display block

  .container__bodyBar
    width $column-width
    margin 0 auto
    padding 0 1rem

    .bar
      fill $primary

    .label-text
      font-family $national
      set-type-size('medium')

    .label-text-bg
      font-family $national
      set-type-size('medium')
      stroke white
      stroke-width 2px
