.body
  &__img-bodies
    max-width 600px
    margin 0 auto

  &__img-parts
    max-width 323px
    margin 0 auto

  .container__bodyBar
    width $column-width
    margin 0 auto
    padding 0 1rem

    .bar
      fill $primary

    .label-text
      font-family $national
      set-type-size('medium')

    .label-text-bg
      font-family $national
      set-type-size('medium')
      stroke white
      stroke-width 2px
