.clothes
  img
    max-width 871px
    margin 0 auto
    display none

  .container__clothes
    display flex
    flex-direction column
    justify-content: center;

    .clothes__all
      margin 0 auto
      display flex
      flex-direction column-reverse
      align-items flex-start;
      +mq('bp-6')
        flex-direction row-reverse
        align-items: flex-end;

      .clothes__group
        margin 0 0.5rem
        display flex
        flex-direction row-reverse
        min-height 5rem
        +mq('bp-6')
          flex-direction column
          align-items center
          width 115px
          height auto
          margin 0 0.25rem

      .clothes__only
        display flex
        flex-direction row
        flex-wrap wrap
        padding 1rem 0
        align-items center
        +mq('bp-6')
          padding 0
          justify-content: center

      .clothes__item
        margin 0
        font-family $national
        set-type-size('small', true)
        width 100px
        margin 0 0.25rem
        line-height 1
        +mq('bp-6')
          width auto
          margin 0
          line-height 1.5
          margin 0 0.5rem
          text-align: center

      .items__market-f
        color $primary

      .items__market-m
        color darken($secondary, 10)

    .axis__group
      display flex
      flex-direction column
      justify-content: center;
      margin 0 0 0.5rem 0
      min-width 75px
      border-right 1px solid lighten($gray-light, 5)
      +mq('bp-6')
        min-width 100px
        margin 0.5rem 0
        border-top 1px solid lighten($gray-light, 5)
        border-right none

      .axis__text
        text-align: center
        font-family $national
        font-weight 600
        color $gray
        margin-bottom 0
        margin-top 0.25rem

        &-sub
          font-family $national
          text-align: center;
          set-type-size('small', true)
          color $gray
          margin-top 0
          line-height 1

    &-title
      min-width 60rem
      margin 0 auto
      .graphic__legend
        font-family $national
        set-type-size('small')
        margin-top 0.15rem

        span
          margin 0 0.25rem
          font-weight 600
        .boys
          color darken($secondary, 10)
        .girls
          color $primary

    .graphic__notes
      order 3
      max-width 60rem
      padding 1rem 1.5rem
      margin 2rem auto
      font-family $national
      background-color lighten($primary, 42)
      &-title
        font-weight 700
        set-type-size('small')
        margin 0
        color darken($primary, 30)
      &-text
        set-type-size('small', true)
        line-height: 1.25
        margin 0.75rem 0
        color darken($primary, 30)
