.clothes
  img
    max-width 871px
    margin 0 auto
    display none

  .container__clothes
    display flex
    flex-direction column
    justify-content: center;

    .clothes__all
      margin 0 auto
      display flex
      flex-direction column-reverse
      align-items flex-start;
      +mq('bp-6')
        flex-direction row
        align-items: flex-end;

      .clothes__group
        margin 0 0.5rem
        display flex
        flex-direction row-reverse
        align-items: flex-end;
        min-height 5rem
        +mq('bp-6')
          flex-direction column
          align-items center
          width 130px
          height auto
          margin 0 0.15rem
          justify-content: flex-end;

      .clothes__only
        display flex
        flex-direction row
        flex-wrap wrap
        padding 1rem 0
        align-items center
        +mq('bp-6')
          padding 0
          justify-content: flex-start

      .clothes__item
        font-family $national
        set-type-size('small', true)
        width 100px
        margin 0 0.25rem
        line-height 1
        padding 0.1rem 0.5rem
        border-radius 10px
        +mq('bp-6')
          width auto
          margin 0
          line-height 1.5
          margin 1px 0.5rem
          text-align: left

      .items__market-f
        background-color: $primary
        color white


      .items__market-m
        background-color $secondary
        color white

      .items__market-n
        background-color white

    .axis__group
      display flex
      flex-direction column
      justify-content: center;
      margin 0 0 0.5rem 0
      min-width 75px
      border-right 1px solid lighten($gray-light, 5)
      +mq('bp-6')
        min-width 100px
        margin 0.5rem 0
        border-top 1px solid lighten($gray-light, 5)
        border-right none

      .axis__text
        text-align: center
        font-family $national
        font-weight bold
        color $gray
        margin-bottom 0
        margin-top 0.25rem
        font-size 14px

        &-sub
          font-family $national
          text-align: center;
          font-size 12px
          color $gray
          margin-top 0
          line-height 1

    &-title
      max-width 60rem
      margin 0 auto
      .chart__subtitle-fullWidth
        font-family $national
        font-size 14px
        text-transform uppercase
        margin 0.5rem 0 2rem 0

        span
          margin 0 0.25rem
          line-height 1
          padding 0.1rem 0.6rem
          border-radius 10px
        .boys
          background-color: $secondary
          color white
        .girls
          background-color $primary
          color white
        .both
          background-color white

    .graphic__notes
      order 3
      max-width 60rem
      padding 1rem 1.5rem
      margin 2rem auto
      font-family $national
      background-color $off-gray
      border-top 1px solid $gray
      border-bottom 1px solid $gray
      &-title
        font-weight 700
        set-type-size('small')
        margin 0
        color $gray
      &-text
        set-type-size('small', true)
        line-height: 1.25
        margin 0.75rem 0
        color $gray
