.create
  max-width $column-width
  margin 0 auto

  &__example-outer
    background-color $off-white
    position relative
    max-width 24rem
    margin 40px auto
    transform rotate(-2deg)

  &__example-inner
    height auto
    overflow hidden
    padding 20px
    box-shadow 2px 4px 6px rgba(0,0,0,0.15)

    &:before, &:after
    	content ""
    	height 1px
    	position absolute
    	left 0
    	right 0
    	-webkit-clip-path polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%)
    &:before
    	background-color white
    	top 0
    &:after
    	background-color $off-white
    	bottom -1px

    p
      font-weight 600
      margin 0
      text-align center

    .strike
      text-decoration line-through

  &__grid
    display flex
    flex-wrap wrap
    justify-content: space-between;

    .grid__item
      display flex
      flex-direction column
      width 100px
      align-items: center;
      margin-bottom: 0.5rem

      &.hidden
        display none

      &.is-feminine
        .grid__item-icons
          background-color rgba($primary, 0.5)

      &.is-masculine
        .grid__item-icons
          background-color rgba($secondary, 0.5)

      &-icons
        position relative
        width 90px
        height 90px
        display flex
        justify-content: center;
        align-items: center
        background-color: $quarternary
        border-radius: 5px

        svg
          position absolute
          transform scale(2.5)
          opacity 0

      &-img
        border-radius 10px
        order 0
        opacity 1
        transition 300ms
        position absolute

      &-name
        margin 0 auto
        text-align: center
        set-type-size('small', true)
        line-height 1.2
        order 1
        color $off-black
        transition 300ms

      &.disabled
        img
          opacity 0.15
          transition 300ms
        p
          color $gray
          transition 300ms
        svg
          opacity 0.9
          color $off-black
          transition 300ms

  &__button
    display flex
    align-items: center;

    #createFinish
      background-color $gray-light
      padding 0.75rem 1rem
      color $primary
      font-weight 600
      text-transform uppercase
      margin 3rem auto

    #createCalc
      background-color $secondary
      padding 0.75rem 1rem
      color $primary
      font-weight 600
      text-transform uppercase
      margin 3rem auto

  &__results
    .femPer
      font-weight 600
      color $primary
    .fem
      padding 0 0.25rem
      background-color $primary
      font-weight 600
      color $white
    .masPer
      font-weight 600
      color $secondary
    .mas
      padding 0 0.25rem
      background-color $secondary
      font-weight 600
      color $white
    .neuPer
      font-weight 600
      color $gray-dark
    .neu
      padding 0 0.25rem
      background-color $gray-dark
      font-weight 600
      color $white


  // &__results
  //   display flex
  //   flex-direction column
  //   align-items: center
  //
  //   .create__results-overall
  //     display flex
  //     flex-direction row
  //     justify-content: space-between
  //     max-width $column-width
  //
  //     .result-group
  //       max-width 20rem
  //       margin 0 4rem
  //       text-align: center
  //
  //       .result
  //         margin 0
  //         set-type-size('xx-large', true)
  //         color $primary
  //         font-weight 600
  //
  //       .result-prose
  //         margin 0
  //         set-type-size('medium', true)

.create__gender
  display flex
  flex-direction row
  height 350px
  align-items: flex-end;

.container__gender
  display flex
  flex-direction row
  max-width $column-width
  height 500px
.container__create
  width 50%
  .chart-title
    height 2rem
    margin 0 0 0.5rem 0
    text-align center
  &-f
    margin-right 0.5rem
    .chart-title
      color $primary
    .hist-group
      flex-direction row-reverse
    .block
      background-color $primary
  &-m
    margin-left 0.5rem
    .chart-title
      color $secondary
    .chart
      align-items flex-start
    .hist-group
      flex-direction row
    .block
      background-color $secondary

  .chart
    display flex
    flex-direction column
  .hist-group
    display flex
    margin 1px 0
    .block
      margin-right 1px


  &-axis
    margin-top 2.5rem
    .axis-label
      height 23px
      margin 2px 0
      display flex
      justify-content center

    .hist-label
      set-type-size('small', true)
      color $gray

      &-five
        opacity 0

  .legend
    display flex
    flex-direction row
    align-items: center
    margin-top 1rem
    .block
      background-color $primary
      height 3px
      margin-right 0.25rem
    &-text
      set-type-size('small', true)
