.intro

	.preamble
		margin-bottom 2rem
		padding-bottom 2rem
		border-bottom 1px solid $gray

	.twitter-tweet
		margin 2rem auto

	.intro__conversation
		width 330px
		margin 0 auto
		display flex
		flex-direction: column
		font-family $national

		.convo__timestamp
			margin 0 0 20px 0
			font-size: 14px
			color $gray
			align-self: center;

			.day
				font-weight bold

		.convo__sent
			align-self flex-end;

			p
				text-align right

		.convo__received
			max-width: 70%

		.convo__sender
			margin 0
			font-size 14px
			color $gray
			padding 0 10px

		.convo__text
			margin 0 0 0.25rem 0
			font-size 17px
			padding 8px 10px
			border-radius: 10px
			line-height: 1.2

			&-received
				background-color: white

			&-sent
				background-color $primary
				color white

			&-wrapper
				margin 0 0 0.65rem 0



	// &__byline
	// 	max-width $column-width
	// 	margin 0 auto
	// 	padding-top 5rem
	// 	padding-bottom 1.5rem
	// 	text-align center
	// 	set-type-size('small', true)

	&__dek
		max-width $column-width
		margin 0 auto
		padding-top 1.5rem
		text-align center
		set-type-size('medium', true)

	&__info
		display flex
		flex-direction row
		max-width $column-width
		margin 0 auto
		padding-top 3rem
		padding-bottom 1.5rem
		justify-content: center;


		p
			set-type-size('small', true)
			text-align center
			margin 0 2rem 0 0

	&__text
		max-width $column-width
		margin 0 auto
