.methods
  padding 2rem 0
  background-color: white
  border-top 1px solid $gray
  border-bottom 1px solid $gray
  font-family $national
  margin 0 auto
.more
  background-color: white
  &__source
    max-width $column-width
    margin 2rem auto
    p
      padding 0 1rem
      margin 0.5rem auto
    .more__attr
      font-family $national
      set-type-size('small', true)
    .more__desc
      set-type-size('small', true)
