/* CUSTOM STORY STYLE */
.section__title
  max-width $column-width
  margin 1rem auto
  padding 0 1rem
  font-size 34px
  font-family $national
  font-weight bold

section
  margin-top 3.75rem

figure
  margin 2rem auto

.prose__instructions
  max-width $column-width
  margin 1rem auto
  padding 0 1rem
  font-weight 600
  color $primary

.chart__title
  font-weight 600
  margin 0
  font-family $national
  font-size 24px
  line-height 1.2
  //padding 0 1rem

.chart__subtitle
  max-width $column-width
  margin 0 auto 1rem auto
  //padding 0 1rem
  font-family $national
  font-size 14px
  text-transform uppercase

.lockscreen
  width 300px
  font-family $national
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  border-radius 10px
  margin 2rem
  opacity 0
  transform translate(0, 10px)
  .top
    display flex
    flex-direction row
    justify-content: space-between;
    background-color: $gray-extraLight
    padding 8px 15px
    border-radius: 10px 10px 0px 0px;
    &__title
      margin 0
      font-size 14px
      letter-spacing: 0.05em
      text-transform uppercase
      color $gray-dark
    &__time
      margin 0
      font-size 14px
      text-transform lowercase
      color $gray-dark
  .bottom
    padding 13px 15px
    background-color: white
    border-radius: 0px 0px 10px 10px;
    &__school
      margin 0
      font-weight bold
      text-transform capitalize
      font-size 17px
    &__text
      margin 0
      font-size 16px
  &.entered
    opacity 1
    transform translate(0, 0)
    transition 200ms ease-in-out



.bubble
  .chart
    height 900px
    width 1400px

  .label
    opacity 0
    pointer-events none

  .g-circle
    pointer-events: all;
    cursor: pointer;
    &.is-active

      .label
        opacity 1
      .label--bg
        opacity 1
        stroke-width 4px
        stroke white
