/* CUSTOM STORY STYLE */
.section__title
  max-width $column-width
  margin 1rem auto
  padding 0 1rem

.prose__instructions
  max-width $column-width
  margin 1rem auto
  padding 0 1rem
  font-weight 600
  color $primary
