/* CUSTOM STORY STYLE */
.section__title
  max-width $column-width
  margin 1rem auto
  padding 0 1rem

.prose__instructions
  max-width $column-width
  margin 1rem auto
  padding 0 1rem
  font-weight 600
  color $primary

.chart-title
  font-weight 600
  margin-bottom 0.25rem

.chart-subtitle
  set-type-size('small', true)
  color $gray
  margin-top 0.25rem
