.title
  margin 0 auto
  border-bottom 1px solid $gray-light;
  background-color: white

  &__hed
    max-width 21.7rem
    margin 0 auto
    padding 60px 1rem 0 1rem
    font-family $national
    +mq('bp-6')
      max-width 29rem

    &-text
      margin 0
      line-height: 1

    &-small
      font-size 30px
      +mq('bp-6')
        font-size 36px
      .highlight
        //border-bottom 2px solid $primary
        color $primary
        font-weight bold

    &-large
      font-size 60px
      font-weight 700
      text-transform: uppercase;
      +mq('bp-6')
        font-size 76px

    &-part
      font-size 20px
      background-color: $primary
      color white
      text-transform: uppercase;
      border-radius 20px
      display inline-block
      padding 0.1rem 0.75rem
      margin-bottom 0.25rem
      font-weight bold



.title__info
	display flex
	flex-direction row
	width 350px
	margin 36px auto 0 auto
	justify-content: center;
	align-items: center
	border-top 1px solid $gray-light
	padding 15px 0 30px 0

	.title__img
    background-size cover
    background-image url('assets/images/headshotSQ.jpeg')
    width 50px
    height 50px;
    border-radius: 50%
    margin-right 15px

	.title__text
		display flex
		flex-direction column
		width 275px
		font-family $national

		.top
			display flex
			flex-direction row
			justify-content: space-between;

			.title__byline
				font-size: 18px
				font-weight: bold
				margin 0
				a
					text-decoration: none
					border-bottom: none

			.title__date
				font-size 14px
				font-weight 300px
				text-align right
				color $gray
				margin 0

		.bottom

			.title__assistance
				margin 0
				font-size 14px
