.title
  margin 0 auto
  border-bottom 1px solid $gray-light;
  background-color: white

  &__hed
    max-width 16.5rem
    margin 0 auto
    padding-top 5rem
    font-family $national

    &-text
      margin 0
      line-height: 1

    &-small
      font-size 24px
      font-weight 300
      text-transform: uppercase;

  		.small-2
  			text-align right

  		&-large
  			font-size 50px
  			font-weight 900


.title__info
	display flex
	flex-direction row
	width 350px
	margin 30px auto 0 auto
	justify-content: center;
	align-items: center
	border-top 1px solid $gray-light
	padding 20px 0

	.title__img
    background-size cover
    background-image url('assets/images/headshotSQ.jpeg')
    width 50px
    height 50px;
    border-radius: 50%
    margin-right 15px

	.title__text
		display flex
		flex-direction column
		max-width 275px
		font-family $national

		.top
			display flex
			flex-direction row
			justify-content: space-between;

			.title__byline
				font-size: 18px
				font-weight: bold
				margin 0
				a
					text-decoration: none
					border-bottom: none

			.title__date
				font-size 14px
				font-weight 300px
				text-align right
				color $gray
				margin 0

		.bottom

			.title__assistance
				margin 0
				font-size 14px
