.words
  &__img-example
    max-width 971px
    margin 0 auto

  .lockscreen__examples
    max-width $column-width
    margin 0 auto
    display flex
    flex-direction column
    flex-wrap wrap
    max-height auto
    +mq('bp-6')
      max-height 550px

    .lockscreen
      margin 0.5rem

  .lockscreen__examples-subjective
    display flex
    flex-direction row
    flex-wrap wrap
    margin 0 auto;
    max-width 650px

    .lockscreen
      max-height auto
      margin 1rem 0.5rem

  img
    max-width 601px
    margin 0 auto

  &__explore
    max-width $column-width
    padding 0 1rem


    .chart__container

      &-desktop
        display none
        +mq('bp-4')
          display block
          display flex
          flex-direction row
          font-family $national
          max-height 675px
          max-width $column-width
          overflow: hidden;

      &-words
        width 40%
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
        z-index 50

        .g-word
          display flex
          flex-direction row
          padding 15px 20px
          background-color white
          border-bottom 1px solid $gray-light
          justify-content: space-between;
          align-items: center

          .left
            .word-title
              font-weight bold
              font-size 18px
              margin 0
            .word-count
              font-size 14px
              margin 0
              line-height 1
          &:hover
            background-color $gray-extraLight
            transition 100ms ease-in-out
            cursor pointer

          &.is-active
            background-color lighten($primary, 20)

            svg
              stroke $primary
              transition 100ms ease-in-out

          &.is-active
            background-color lighten($primary, 20)
            transition 100ms ease-in-out

            svg
              stroke $primary
              transition 100ms ease-in-out
      .simplebar__container
        width 60%
        padding 0
      &-examples
        width 95%
        +mq('bp-4')
          width 100%
        .g-example
          display flex
          flex-direction column
          padding 20px 30px 20px 20px
          background-color lighten($primary, 35)
          .top
            display flex
            flex-direction row
            justify-content space-between

            .school-name
              font-size 18px
              font-weight bold
              margin 0

            .school-state
              font-size 14px
              color $gray-dark
              margin 0

          .bottom
            margin-top 0.5rem
            .school-example
              font-size 14px
              margin 0
      .simplebar-scrollbar
        &::before
          background white !important


      &-mobile
        display block
        font-family $national
        margin 0 auto
        width 100%
        +mq('bp-4')
          display none

        .g-word
          .word
            display flex
            flex-direction row
            align-items center
            justify-content: space-between
            background-color white
            border-bottom 1px solid $gray-light
            padding 15px
            .word-title
              font-weight bold
              font-size 18px
              margin 0
            .word-count
              font-size 14px
              margin 0

          .simplebar__container-mobile
            .example
              height 0px
              overflow-y scroll
              transition height 300ms ease-in-out
              &.is-expanded
                height 350px
                transition height 300ms ease-in-out
              .g-example
                display flex
                flex-direction column
                padding 20px 30px 20px 20px
                background-color lighten($primary, 35)
                .top
                  display flex
                  flex-direction row
                  justify-content space-between

                  .school-name
                    font-size 18px
                    font-weight bold
                    margin 0

                  .school-state
                    font-size 14px
                    color $gray-dark
                    margin 0

                .bottom
                  margin-top 0.5rem
                  .school-example
                    font-size 14px
                    margin 0
          .simplebar-scrollbar
            &::before
              background red !important
