.words
  &__img-example
    max-width 971px
    margin 0 auto

  .lockscreen__examples
    max-width $column-width
    margin 0 auto
    display flex
    flex-direction column
    flex-wrap wrap
    max-height auto
    +mq('bp-6')
      max-height 550px

    .lockscreen
      margin 0.5rem

  .lockscreen__examples-subjective
    display flex
    flex-direction row
    flex-wrap wrap
    margin 0 auto;
    max-width 650px

    .lockscreen
      max-height auto
      margin 1rem 0.5rem

  img
    max-width 601px
    margin 0 auto

  &__explore
    max-width $column-width
    padding 0 1rem

    .chart__container
      display flex
      flex-direction row

      &-words
        min-width 270px


        .g-word
          display flex
          flex-direction row
          padding 25px 20px
          background-color white
          border-bottom 1px solid $gray-light

          .left
            .word-title
              font-family $national
              font-weight bold
              font-size 18px
              margin 0
            .word-count
              font-family $national
              font-size 14px
              margin 0
