<section class='body'>
  <h3 class='title__section'>{{doc.bodyTitle}}</h3>
  {{#each doc.bodyIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
  <img class='body__img-bodies' src='assets/images/placeholder_bodies.png'>

  {{#each doc.bodyMid}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
  <img class='body__img-parts' src='assets/images/placeholder_parts.png'>
</section>
