<section class='body'>
  <h3 class='title__section'>{{doc.bodyTitle}}</h3>
  {{#each doc.bodyIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  {{#each doc.bodyMid}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
