<section class='clothes'>
  <h3 class='title__section'>{{doc.clothesTitle}}</h3>
  {{#each doc.clothesIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
  <img class='clothes__img-items' src='assets/images/placeholder_clothes.png'>
</section>
