<section class='create'>
  <h2 class='section__title tk-canela'>{{doc.createTitle}}</h2>
  <p class='prose tk-atlas'>{{doc.createIntro}}</p>
  <p class='prose__instructions tk-atlas'>{{doc.createInstructions}}</p>

  {{> story/createGrid }}
</section>
