<section class='words'>
  <h3 class='title__section'>{{doc.wordsTitle}}</h3>
  {{#each doc.wordsIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='wordExamples'>
    {{> story/wordExamples }}
  </div>

  {{#each doc.wordsMid}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <img class='words__img-examples' src='assets/images/placeholder_words.png'>
</section>
